/* .page--home {} */

.page--home > * {
  width: 100%;
  max-width: var(--width-2);
}

.page--home--grid {
  display: grid;
  grid-template:
    'one' auto
    'two' auto
    / auto;
  grid-gap: var(--margin-size-5);
}

@media (min-width: 50rem) {
  .page--home--grid {
    display: grid;
    grid-template:
      'one two' auto
      / 1fr 1fr;
  }
}
