@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond|Proza+Libre&display=swap';
@import '../node_modules/@nll/css/dist/full.css';

.font-head {
  font-family: 'Cormorant Garamond', serif;
}

.font-content {
  font-family: 'Proza Libre', sans-serif;
}

html {
  font-family: 'Proza Libre', sans-serif;
}
