@import "../node_modules/@nll/css/dist/reset/reset.min.css";
@import "../node_modules/@nll/css/dist/standard/standard.min.css";
@import "./styles/animations.css";

html {
  font-family: "Proza Libre", sans-serif;
  font-size: var(--font-size);
  font-size-adjust: 0.6;
  color: var(--color-fore-base-0);
  background-color: var(--color-back-base-0);
}

a {
  color: var(--color-fore-link-0);
  background-color: var(--color-back-link-0);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-u1);
}

:root {
  --color-fore-link-0: #5e2ca5;
  --color-back-link-0: #ffffff;
}
