@import '../node_modules/@nll/css/dist/reset/reset.min.css';
@import '../node_modules/@nll/css/dist/full/full.min.css';

.font-head {
  font-family: 'Cormorant Garamond', serif;
}

html,
.font-content {
  font-family: 'Proza Libre', sans-serif;
}

a {
  color: var(--color-fore-link-0);
  background-color: var(--color-back-link-0);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-u1);
}
